#XfceNotifyWindow {
    border: 1px solid #c4c4c4;
    border-radius: 1px;
}

#XfceNotifyWindow button {
}

#XfceNotifyWindow label#summary {
    font-weight: bold;
}

#XfceNotifyWindow progressbar {
}

#XfceNotifyWindow progressbar progress {
}

#XfceNotifyWindow progressbar trough {
}
